.header__nav {
    display: none;
    &-list {
        display: flex;
        flex-direction: row;
        padding: 0;
        li {
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @include mq() {
        display: block;
    }
}