[data-scroll] {
	will-change: transform;
}

.content {
	// display: flex;
	// flex-direction: column;
	position: relative;
	// align-items: center;
	// padding: 12rem 0;
	// counter-reset: figure; 
}

.item {
	margin: 10vh auto;
	max-width: 100%;
	position: relative;
	will-change: transform;
}

.item:nth-child(even)::before {
	right: 0;
}


// ORIGINAL
// .item__img-wrap {
//     position: relative;
// 	--aspect-ratio: 1/1.5;
// 	overflow: hidden;
// 	width: 500px;
// 	margin: 0 auto;
// 	padding-bottom: calc(100% / (var(--aspect-ratio)));
// 	max-width: calc(100% - 2rem);
// 	will-change: transform;
//     filter: grayscale(.88);
//     transition: filter .6s ease;
//     &:hover {
//         filter: grayscale(0);
//     }
// }


.item__img-wrap {
    position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding-bottom: calc(100% / (var(--aspect-ratio)));
	max-width: 100%;
	will-change: transform;
	// transform: translateY(150px);
	// opacity: 0;
}

.item__img {
	--overflow: 40px;
	height: calc(100% + (2 * var(--overflow)));
	top: calc( -1 * var(--overflow));
	width: 100%;
	position: absolute;
	background-image: var(--image);
	background-size: cover;
	background-position: 50% 0%;
	will-change: transform;
}
